{% extends 'base_user_center.html' %}
{% load static %}

{% block right_content %}
	<div class="right_content clearfix">
		<h3 class="common_title2">收货地址</h3>
		<div class="site_con">
			<dl>
				{% csrf_token %}
				{% if addr_default %}
					<dd>
						{{ addr_default.addr }} {{ addr_default.receiver }} {{ addr_default.phone }}
						<a href="#" addr_id='{{ addr_default.id }}' class="delete">删除地址</a>
					</dd>
				{% endif %}
				{% if addrs_nondefault %}
					{% for addr_nondefault in addrs_nondefault %}
					<dd>
						{{ addr_nondefault.addr }} {{ addr_nondefault.receiver }} {{ addr_nondefault.phone }}
						<a href="#" addr_id='{{ addr_nondefault.id }}' class="setDefault">设为默认</a>
						<a href="#" addr_id='{{ addr_nondefault.id }}' class="delete">删除地址</a>
					</dd>
					{% endfor %}
				{% endif %}
			</dl>
		</div>
		<h3 class="common_title2">添加地址</h3>
		<div class="site_con">
			<form method="post" action="{% url 'user:address' %}">
				{% csrf_token %}
				<div class="form_group">
					<label>收件人：</label>
					<input type="text" name="receiver">
				</div>
				<div class="form_group form_group2">
					<label>详细地址：</label>
					<textarea class="site_area" name="addr"></textarea>
				</div>
				<div class="form_group">
					<label>邮编：</label>
					<input type="text" name="zip_code">
				</div>
				<div class="form_group">
					<label>手机：</label>
					<input type="text" name="phone">
				</div>

				<input type="submit" name="" value="提交" class="info_submit">
				{{ errmsg }}
			</form>
		</div>
	</div>
{% endblock right_content %}

{% block bottomfiles %}
	<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script>

	$(".delete").click(function () {
		addr_id = $(this).attr("addr_id")
		csrf = $('input[name="csrfmiddlewaretoken"]').val()
		params = {
			'addr_id': addr_id,
			'change_type': '1', // 1 - 删除该地址
			'csrfmiddlewaretoken': csrf
		}
		$.post('/user/addressChange', params, function (data) {
			if (data.status == 0) {
				location.reload()
			} else {
				alert(data.errmsg)
			}
		})
	})

	$(".setDefault").click(function () {
		addr_id = $(this).attr("addr_id")
		csrf = $('input[name="csrfmiddlewaretoken"]').val()
		params = {
			'addr_id': addr_id,
			'change_type': '0', // 0 - 设为默认地址
			'csrfmiddlewaretoken': csrf
		}
		$.post('/user/addressChange', params, function (data) {
			if (data.status == 0) {
				location.reload()
			} else {
				alert(data.errmsg)
			}
		})
	})
	</script>
{% endblock bottomfiles %}
