{% extends 'base_user_center.html' %}
{% load static %}

{% block right_content %}
	<div class="right_content clearfix">
		<h3 class="common_title2">全部订单</h3>
		{% for order in page %}
			<ul class="order_list_th w978 clearfix">
				<li class="col01">{{ order.create_time|date:"Y-m-d H:i:s" }}</li>
				<li class="col02">{{ order.order_id }}</li>
				<li class="col02 stress">{{ order.status_name }}</li>
			</ul>

			<table class="order_list_table w980">
				<tbody>
					<tr>
						<td width="55%">
							{% for goods in order.goods_list %}
								<ul class="order_goods_list clearfix">
									<li class="col01"><a href="{% url 'goods:detail' goods.sku.id %}"><img src="{{ goods.sku.image.url }}"></a></li>
									<li class="col02"><a href="{% url 'goods:detail' goods.sku.id %}">{{ goods.sku.name }}<em>{{ goods.sku.price }}元/{{ goods.sku.unite }}</em></a></li>
									<li class="col03">{{ goods.count }}</li>
									<li class="col04">{{ goods.amount }}</li>
								</ul>
							{% endfor %}
						</td>
						<td width="15%">{{ order.total_pay }}元(含运费)</td>
						<td width="15%" class="status">{{ order.status_name }}</br>支付方式：{{ order.pay_method_name }}</td>
						{% csrf_token %}
						<td width="15%"><a href="#" order_id='{{ order.order_id }}' order_status='{{ order.status }}' status_name='{{ order.status_name }}' pay_method='{{ order.pay_method }}' class="oper_btn">去付款</a></td>
					</tr>
				</tbody>
			</table>
		{% empty %}
		暂无订单
		{% endfor %}

		<div class="pagenation">
			{% if page.has_previous %}
				<a href="{% url 'user:order' page.previous_page_number %}">&lt;上一页</a>
			{% endif %}
			{% for num in page_list %}
				<a href="{% url 'user:order' num %}" {% if num == page.number %} class="active" {% endif %}>{{ num }}</a>
			{% endfor %}
			{% if page.has_next %}
				<a href="{% url 'user:order' page.next_page_number %}">下一页></a>
			{% endif %}
		</div>
	</div>
{% endblock right_content %}

{% block bottomfiles %}
	<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script>

	$(".oper_btn").each(function () {
		status = $(this).attr("order_status")
		if(status == 1){
			$(this).text("去支付")
		}
		else if (status==4){
			$(this).text("去评价")
		}
		else if(status==5){
			$(this).text('已完成')
		}
		else {
			$(this).text($(this).attr("status_name"))
		}
	})

	$(".oper_btn").click(function () {
		status = $(this).attr("order_status")
		order_id = $(this).attr("order_id")
		pay_method = $(this).attr('pay_method')
		if (status == 1) { // 待支付状态，发送 ajax 请求支付
			if (pay_method == '3') { // 支付宝支付
				csrf = $('input[name="csrfmiddlewaretoken"]').val()
				params = {
					'order_id': order_id,
					'csrfmiddlewaretoken': csrf
				}
				$.post('/order/pay/', params, function (data) {
					if (data.status == 0) {
						window.open(data.pay_url) // 引导用户到支付页面
						$.post('/order/query/', params, function () { // 发送 ajax 请求查询订单支付情况
							if (data.status == 0) {
								alert('支付成功')
								location.reload()
							} else {
								alert(data.errmsg)
							}
						})
					} else {
						alert(data.errmsg)
					}
				})
			} else {
				alert('其他支付方式暂不支持')
			}
		} else if (status == 4) { // 若订单状态为待评价，则跳转到评价界面
			location.href = '/order/comment/' + order_id
		}
	})
	</script>
{% endblock bottomfiles %}
